{% extends 'Admin/base.html'%}
{% load static %}
{% block content %}

{% if message %}
<script>
alert("{{ message }}")
</script>
{% endif %}

<section class="pcoded-main-container">
    <div class="pcoded-content">
        <!-- [ breadcrumb ] start -->
        <div class="page-header">
            <div class="page-block">
                <div class="row align-items-center">
                    <div class="col-md-12">
                        <div class="page-header-title">
                            <h5 class="m-b-10">Pharmacy</h5>
                        </div>
                        <ul class="breadcrumb">
                            <li class="breadcrumb-item"><a href="index.html"><i class="feather icon-home"></i></a></li>
                            <li class="breadcrumb-item"><a href="#!">Pharmacy</a></li>
                            <li class="breadcrumb-item"><a href="#!">Add Pharmacy</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <!-- [ breadcrumb ] end -->
        <!-- [ Main Content ] start -->
        <div class="row">
            <div class="col-sm-12">
                <div class="card">
                    <div class="card-header">
                        <h5 class="mt-5">Add Pharmacy</h5>
                        <hr>
                        <form action="" method="POST" enctype="multipart/form-data">
                            {% csrf_token %}

                            <div class="form-row">
                                <div class="col-md-4 mb-3">
                                    <label for="Pharmacy Name">Pharmacy Name</label>
                                    <input type="text" class="form-control" id="pharmname" name="pharmname" placeholder="First name"  required>
                                    <div class="valid-feedback">
                                        Looks good!
                                    </div>
                                </div>
                                <div class="col-md-4 mb-3">
                                    <label for="Location">Location</label>
                                    <input type="text" class="form-control" id="pharm_loc" name="pharm_loc" placeholder="Enter the Location"  required>
                                    <div class="valid-feedback">
                                        Looks good!
                                    </div>
                                </div>
                                <div class="col-md-4 mb-3">
                                    <label for="Email Id">Email Id</label>
                                    <div class="input-group">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text" id="inputGroupPrepend">@</span>
                                        </div>
                                        <input type="email" class="form-control" id="Email" name="Email" placeholder="Username" aria-describedby="inputGroupPrepend" required>
                                        <div class="invalid-feedback">
                                            Please choose a username.
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="form-row">
                                <div class="col-md-6 mb-3">
                                    <label for="Image">Image</label>
                                    <input type="file" class="form-control" id="image" name="image" placeholder="Upload Your Shop Image" required>
                                    <div class="invalid-feedback">
                                        Please provide Shop Image.
                                    </div>
                                </div>
                                <div class="col-md-6 mb-3">
                                    <label for="Phone Number">Phone Number</label>
                                    <input type="text" class="form-control" id="Phone_Number" name="Phone_Number" placeholder="xxxxxxxxxx" required>
                                    <div class="invalid-feedback">
                                        Please provide a valid number.
                                    </div>
                                </div>
                                
                            </div>
                            <div class="form-group">
                                <div class="form-check">
                                    <input class="form-check-input" type="checkbox" value="" id="invalidCheck" required>
                                    <label class="form-check-label" for="invalidCheck">Agree to terms and conditions</label>
                                    <div class="invalid-feedback">
                                        You must agree before submitting.
                                    </div>
                                </div>
                            </div>
                            <button class="btn  btn-primary" type="submit">Submit</button>
                        </form>
                        <script>
                            // Example starter JavaScript for disabling form submissions if there are invalid fields
                            (function() {
                                'use strict';
                                window.addEventListener('load', function() {
                                    // Fetch all the forms we want to apply custom Bootstrap validation styles to
                                    var forms = document.getElementsByClassName('needs-validation');
                                    // Loop over them and prevent submission
                                    var validation = Array.prototype.filter.call(forms, function(form) {
                                        form.addEventListener('submit', function(event) {
                                            if (form.checkValidity() === false) {
                                                event.preventDefault();
                                                event.stopPropagation();
                                            }
                                            form.classList.add('was-validated');
                                        }, false);
                                    });
                                }, false);
                            })();
                        </script>
    </div>
    </div>
    </div>
    </div>
    </div>
    </section>
    {% endblock %}                            